# Expo
.expo/
.expo-shared/
dist/
web-build/

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Expo
__generated__/

# TypeScript
*.tsbuildinfo

# React Native
*.jsbundle

# Temporary files
*.tmp
*.temp
.tmp/
.temp/